# NVIDIA sources
l4t/Linux_for_Tegra/

# Build output
out/

# VS Code
.vscode/

# Misc
*.log
*.dtb
*.dtbo

l4t/Jetson_Linux_r36.4.4_aarch64.tbz2
l4t/public_sources.tbz2
l4t/Tegra_Linux_Sample-Root-Filesystem_r36.4.4_aarch64.tbz2

!out/README.md